body {
    background-color: #2D2D2D;
    color: #B3B3B3;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}
h1 {
    font-size: 36px;
    background: linear-gradient(45deg, #63faff, #fd97e7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
}
footer {
    padding: 50px;
}
footer a {
    color: #524f93;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
footer a:hover {
    color: #818bf8;
}
canvas {
    display: block;
    margin: 20px auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
#color-container {
    display: flex;
    justify-content: center;
}
.color-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    border-radius: 33.3%;
}
.color-box:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}